.header-conteiner{
    color: white;
}

#header-item1{
    margin-left: 10%;
}

#header-item2{
    margin-left: 15%;
    text-decoration: none;
}


#drop-item{
    margin-left: 1%;
}

.main{
    overflow: hidden;
    container: fluid;
}

.main-conteiner{
    margin-left: 10%; 
    margin-top: 10%;
    display: flex; 
}

.main-intens{
    overflow: hidden;
}


.footer {
    bottom: 0;
    background-color: gray;
}
.footer-itens {
    display: flex;
}
.footer-itens img {
    width: 30px;
    height: 30px;
}