.header-conteiner{
    color: white;
}
#header-item1{
    margin-left: 10%;
}
#header-item2{
    margin-left: 15%;
    text-decoration: none;
}

.drop-conteiner{
    background-color: rgb(201, 201, 201);
}

#drop-item{
    margin-left: 1%;
}




.footer {
    bottom: 0;
    background-color: gray;
}
.footer-itens {
    display: flex;
}
.footer-itens img {
    width: 30px;
    height: 30px;
}