<section>
    <div class="container-fluid bg-primary header-conteiner">
        <div class="row align-items-center" id="header-item3">
            <div class="col">
                <i class="fa-regular fa-sun"></i>
            </div>
            <div class="col-5" id="header-item1">
                <form>
                    <div class="input-group mb-3 pt-4">
                        <input type="text" class="form-control" placeholder="Buscar cidades" aria-label=""
                            aria-describedby="button-addon2">
                        <button class="btn btn-light text-primary" type="button" id="button-addon2"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-4" id="header-item2">
                <div style=" margin-left: 30%;">
                    <div class="dropdown border border-white rounded col-sm-3 text-center ml-3">
                        <a class="btn dropdown-toggle  text-white " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="login/">Login</a></li>
                            <li><a class="dropdown-item" href="usuario/">Minha conta</a>
                            </li>
                            <li><a class="dropdown-item" href="#">sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

